# Deliverable 3. Create a Travel Itinerary Map.
----
1. Import the vacation CSV file. 
2. From the map above with pick 4 cities that are in close proximity (on the same continent) that the customer would travel to and create a directions layer map.
3. For the "travel_mode" use either "DRIVING", "BICYCLING", or "WALKING".
4. Take a screenshot of the route and save it. 
5. Then create a marker layer for the four cities. Each city will should have a pop-up marker that contains
    - The hotel name
    - The city
    - The country
    - The current weather description and the maximum temperature
---

## Make sure the initial dependencies and the Google API key are imported.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

In [2]:
# Configure gmaps
gmaps.configure(api_key=g_key)

## From your `Vacation_Search` folder from Deliverable 2, import the `WeatherPy_vacation.csv` file as a DataFrame named `vacation_df`

In [3]:
file_path = "../Vacation_Search/WeatherPy_vacation.csv"
# Read the WeatherPy_vacation.csv into a DataFrame
vacation_df = pd.read_csv(file_path)

# Display sample data
vacation_df.head(10)

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,4,Atuona,PF,76.33,Rain,-9.8000,-139.0333,Villa Enata
1,5,Kalmunai,LK,78.94,Clouds,7.4167,81.8167,VS Villa
2,10,Phalaborwa,ZA,81.21,Clear,-23.9430,31.1411,Bothabelo Bed and Breakfast
3,11,Vaini,TO,74.41,Rain,-21.2000,-175.2000,Keleti Beach Resort
4,16,Hermanus,ZA,62.80,Clouds,-34.4187,19.2345,Misty Waves Boutique Hotel
5,18,Portland,US,72.77,Clouds,45.5234,-122.6762,Embassy Suites by Hilton Portland Downtown
6,19,Avarua,CK,71.65,Clouds,-21.2078,-159.7750,Paradise Inn
7,20,Warrenton,ZA,82.85,Clouds,-28.1140,24.8475,Fish Eagles Call Warrenton
8,23,Rikitea,PF,71.02,Clouds,-23.1203,-134.9692,People ThankYou
9,24,Butaritari,KI,82.00,Clouds,3.0707,172.7902,Isles Sunset Lodge

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [4]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## In this step, you will set-up the pop-up markers. Review the code to create a marker layer map of the vacation search results. This code is the same as in Deliverable 2.

In [5]:
# Review the formatting template
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# Get the data from each row and add it to the formatting template and store the data in a list
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [6]:
# Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

# Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

## From the vacation search map, *choose four cities* that a customer might want to visit. They should be close together and in the same country.

In [7]:
vacation_df.set_index('City', inplace=True)
# Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# The starting and ending city should be the same city.
vacation_start = vacation_df.loc['Denpasar']
vacation_end = vacation_df.loc['Denpasar']
vacation_stop1 = vacation_df.loc['Labuhan']
vacation_stop2 = vacation_df.loc['Lasem']
vacation_stop3 = vacation_df.loc['Srandakan']

## Use the `to_numpy()` function and list indexing to write code to retrieve the latitude-longitude pairs as tuples from each city DataFrame.

In [8]:
# Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
lat_lng = ['Lat', 'Lng']
start = tuple(vacation_start[lat_lng].to_numpy())
end = tuple(vacation_end[lat_lng].to_numpy())
stop1 = tuple(vacation_stop1[lat_lng].to_numpy())
stop2 = tuple(vacation_stop2[lat_lng].to_numpy())
stop3 = tuple(vacation_stop3[lat_lng].to_numpy())

## Use the [gmaps documentation](https://jupyter-gmaps.readthedocs.io/en/latest/tutorial.html#directions-layer) to create a directions layer map using the variables from the previous step. Where the starting and ending city are the same city, the `waypoints` are the three other cities, and the `travel_mode` is either `"DRIVING"`, `"BICYCLING"`, or `"WALKING"`.

In [9]:
# Define a new figure object
fig = gmaps.figure()

# Create a direction layer map using the start and end latitude-longitude pairs, and stop1, stop2, and stop3 as the waypoints.
# The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
route1 = gmaps.directions_layer(start, stop1, travel_mode='DRIVING')
route2 = gmaps.directions_layer(stop1, stop2, travel_mode='DRIVING')
route3 = gmaps.directions_layer(stop2, stop3, travel_mode='DRIVING')
route4 = gmaps.directions_layer(stop3, end, travel_mode='DRIVING')

#vacation_itinerary = # YOUR CODE HERE

# Add the layer to the map
fig.add_layer(route1)
fig.add_layer(route2)
fig.add_layer(route3)
fig.add_layer(route4)

# Display the map
fig

Figure(layout=FigureLayout(height='420px'))

## Use the provided `concat()` function code snippet to combine the four separate city DataFrames into one DataFrame.

In [10]:
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat(
    [
        vacation_start,
        vacation_stop1, 
        vacation_stop2, 
        vacation_stop3, 
        vacation_end
    ]
    ,ignore_index=True, axis=1)

itinerary_df.rename(columns={0:vacation_start.name, 1:vacation_stop1.name, 2:vacation_stop2.name, 3:vacation_stop3.name, 4:vacation_end.name}, inplace=True)
itinerary_df = itinerary_df.transpose(copy=False).reset_index().rename(columns={'index':'City'})

# Display sample data
itinerary_df

,City,City_ID,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Denpasar,269,ID,82.06,Clouds,-8.65,115.2167,OYO 3156 Hotel Warta Dua
1,Labuhan,192,ID,79.79,Clouds,-6.8844,112.2051,DoubleFAG
2,Lasem,488,ID,80.06,Clouds,-6.6922,111.4527,"Nyah Lasem | Museum, Warung & Community Center"
3,Srandakan,232,ID,76.66,Clouds,-7.9386,110.2506,Puri Brata
4,Denpasar,269,ID,82.06,Clouds,-8.65,115.2167,OYO 3156 Hotel Warta Dua

## Refactor the code from Step 6 to create a new marker layer map of the cities on the travel route.

In [11]:
# Review the formatting template
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# Get the data from each row and add it to the formatting template and store the data in a list
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [12]:
# Define a new figure object
fig = gmaps.figure()

# Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Add the layer to the map
fig.add_layer(marker_layer)

# Display the map
fig

Figure(layout=FigureLayout(height='420px'))